<mat-card>
    <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="http://placehold.it/320x150" alt="">
    <mat-card-content>
        {{ product.description }}
        <div class="ratings">
            <nga-stars [rating]="product.rating"></nga-stars>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-button color="accent" [routerLink]="['/products', product.id]">ZOBACZ</a>
    </mat-card-actions>
</mat-card>