<form #f="ngForm">
    <mat-form-field appearance="fill">
        <mat-label>Nazwa produktu</mat-label>
        <input matInput type="text" placeholder="Nazwa produktu" name="title" ngModel>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <input matInput type="number" placeholder="Cena produktu" name="price" ngModel>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Kategoria</mat-label>
        <mat-select placeholder="Kategoria" name="category" ngModel>
            <mat-option *ngFor="let c of categories" [value]="c">{{ c }}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
        <mat-icon>search</mat-icon>SZUKAJ
    </button>
</form>